<footer class="footer bg-dark p-0 mt-auto">
    <div class="container">
        <span class="text-white">
            <p class="text-center">&copy EventIt</p><br><br>
        </span>
    </div>
</footer>