<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventIt</title>
    <link <link
        href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA7fUFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREREREREAABEREREREQAAEREAAAERAAAREQEREREAABERAREREQAAEREAARERAAAREQABEREAABERAREREQAAEREBERERAAAREQAAAREAABEREREREQAAERERERERAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
        rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        @import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

        * {
            margin: 0;
            padding: 0;
        }

        .contact-us {
            background: #f8f4e5;
            padding: 50px 100px;
            border: 2px solid black;
            box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
        }

        input {
            display: block;
            width: 100%;
            font-size: 14pt;
            line-height: 28pt;
            font-family: "Fjalla One";
            margin-bottom: 28pt;
            border: none;
            border-bottom: 5px solid black;
            background: #f8f4e5;
            min-width: 250px;
            padding-left: 5px;
            outline: none;
            color: black;
        }

        input:focus {
            border-bottom: 5px solid #ffa580;
        }

        .btn {
            display: block;
            margin: 0 auto;
            line-height: 28pt;
            padding: 0 20px;
            background: #ffa580;
            letter-spacing: 2px;
            transition: 0.2s all ease-in-out;
            outline: none;
            border: 1px solid black;
            box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
        }

        .btn:hover {
            background: black;
            color: white;
            border: 1px solid black;
        }

        ::selection {
            background: #ffc8ff;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus {
            border-bottom: 5px solid #95a4ff;
            -webkit-text-fill-color: #2A293E;
            transition: background-color 5000s ease-in-out 0s;
        }
    </style>
</head>

<body style="background-color: #f8f4e5;">
    <%- include("partials/navbar")%>
        <div class="container p-0 vh-100">
            <%- include("partials/flash") %>
                <div class="contact-us col-md-6 offset-md-3 mt-5 mr-5 pl-5 pr-5 ">
                    <form class="needs-validation" action="/events" method="POST" enctype="multipart/form-data"
                        novalidate>
                        <h1 style="font-family: Fjalla One" class="is-size-3 mb-5 mt-0">Make a New Post</h1>
                        <input class="form-control" type="text" name="title" id="title" placeholder="Title" required />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <input class="form-control" name="description" placeholder="Description" required></>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <input class="form-control" type="file" name="image" id="image" multiple
                            placeholder="Choose images..." />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <button class="btn">
                            <h1>Upload</h1>
                        </button>
                    </form>
                </div>
        </div>
        <%- include("partials/footer") %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                crossorigin="anonymous"></script>
            <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
            <script src="/javascript/javascript.js"></script>
</body>

</html>