<% layout("boilerplate") %>
    <div class="card shadow">
        <div class="card" style="background-color: black;">
            <% if(currentUser.photos){%>
                <br><br>
                <img src="<%= currentUser.photos[0].value %> " class="card-img-top img-thumbnail ml-3 mt-2"
                    style="height: 100px;width: 100px;border-radius: 50%;" alt="user"><br><br>
                <% } %>
                    <div class="card-body text-white">
                        <ul>
                            <li class="list-group-item" style="background-color: black;">
                                <h5 class="card-title is-size-3 text-white">Profile</h5>
                            </li><br><br>
                            <li class="list-group-item">
                                <p>Username : <%= currentUser.username||currentUser.displayName %>
                                </p>
                            </li><br><br>
                            <li class="list-group-item d-flex align-items-center">
                                <label for="form-label"><b>UserID:</b></label>
                                <input type="text" class="form-control" id="myInput" style="border: none;"
                                    value="<%= currentUser._id %> " required>
                                <button class="btn" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Copy to Clipboard" onclick="copyid()"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-clipboard"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                                        <path
                                            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                                    </svg></button>
                            </li><br><br>
                            <li class="list-group-item">
                                <p>email: : <%= currentUser.email||currentUser.emails[0].value %>
                                </p>
                            </li><br><br>
                            <li class="list-group-item">
                                <a href="/events"><button class="btn btn-dark w-100">Back to posts</button></a>
                            </li><br><br>
                        </ul>
                    </div>
        </div>
    </div>