<% layout("boilerplate") %>
    <div class="bg-light">
        <h3 class="is-size-3 ml-3">Update upcoming events</h3>
        <form action="/events/upcoming" class="bg-light p-3 needs-validation" method="POST" novalidate>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Event</label>
                <input name="eventuc" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Event</label>
                <input name="eventuc" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Event</label>
                <input name="eventuc" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Event</label>
                <input name="eventuc" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Event</label>
                <input name="eventuc" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Event</label>
                <input name="eventuc" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required>
            </div>
            <button type="submit" class="button is-primary">Submit</button>
        </form>
    </div>